<include href="views/portal/includes/header.html"/>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h2 mb-5 text-primary"><i class="far fa-calendar-alt"></i> Open Trainings</h1>

    <!--    TODO: make functional-->
    <nav class="navbar navbar-expand">
        <select>
            <option value="jump">Jump To...</option>
            <repeat group="{{ @trainings }}"
                    value="{{ @training }}">
                <option> {{ @training['app_type'] }}</option>
            </repeat>
        </select>
    </nav>

    <div class="row">
        <repeat group="{{ @trainings }}" value="{{ @training }}">
            <div class="col-lg-6 col-md-12 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">{{
                                    @training['app_type'] }}
                                </div>
                                <div class="h6 mb-0 text-gray-800 mt-2">

                                    <repeat group="{{ @trainings_infos }}" value="{{ @info }}" counter="{{ @ctr }}">
                                        <check if="{{ @info['app_type'] == @training['app_id'] }}">
                                            <true>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto mr-2">
                                                        <a href="#" class="text-decoration-none text-success"
                                                           data-toggle="modal"
                                                           data-target="#editModal{{ @info['info_id'] }}">
                                                            <i class='fas fa-edit text-warning'
                                                               style='font-size:18px'></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-auto mr-2">
                                                        <a href="#" class="text-decoration-none text-success"
                                                           data-toggle="modal"
                                                           data-target="#deleteModal{{ @info['info_id'] }}">
                                                            <i class="fas fa-minus-circle text-danger"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-10">
                                                        <span class="font-weight-bold">Day 1:</span> {{ @info['date'] }}<br>
                                                        <check if="{{ @info['date2'] }}">
                                                            <span class="font-weight-bold">Day 2:</span> {{
                                                            @info['date2'] }}<br>
                                                        </check>
                                                        <check if="{{ @info['date3'] }}">
                                                            <span class="font-weight-bold">Day 3:</span> {{
                                                            @info['date3']
                                                            }}<br>
                                                        </check>
                                                        <span class="font-weight-bold">Location:</span> {{
                                                        @info['location'] }}<br>
                                                        <span class="font-weight-bold">Deadline:</span> {{
                                                        @info['deadline'] }}<br>
                                                    </div>
                                                </div>

                                                <hr>

                                                <!-- edit modal -->
                                                <div class="modal fade" id="editModal{{ @info['info_id'] }}"
                                                     tabindex="-1" role="dialog"
                                                     aria-labelledby="editModal{{ @info['info_id'] }}"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">

                                                            <div class="modal-header bg-success">
                                                                <h4 class="modal-title text-white" id="label">
                                                                    <i class="fas fa-plus"></i>
                                                                    Edit Training
                                                                </h4>

                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>

                                                            <form action="trainings" method="post">
                                                                <div class="modal-body">
                                                                    <input type="hidden"
                                                                           value="{{ @info['info_id'] }}" name="editId">
                                                                    <div class="col-12">
                                                                        <h5>
                                                                            <i class="far fa-calendar-alt mr-1 text-success"></i>
                                                                            Day 1</h5>
                                                                        <div class="form-group pb-2">
                                                                            <label for="editDates" class="sr-only">Day
                                                                                1</label>
                                                                            <input type="date" class="form-control"
                                                                                   name="editDates" id="editDates"
                                                                                   value="{{ date('Y-m-d', strtotime(@info['date'])) }}">
                                                                        </div>

                                                                        <check if="{{ @info['date2'] }}">
                                                                            <h5>
                                                                                <i class="far fa-calendar-alt mr-1 text-success"></i>
                                                                                Day 2</h5>
                                                                            <div class="form-group pb-2">
                                                                                <label for="editDates2" class="sr-only">Day
                                                                                    2</label>
                                                                                <input type="date" class="form-control"
                                                                                       name="editDates2"
                                                                                       id="editDates2"
                                                                                       value="{{ date('Y-m-d', strtotime(@info['date2'])) }}">
                                                                            </div>
                                                                        </check>

                                                                        <check if="{{ @info['date3'] }}">
                                                                            <h5>
                                                                                <i class="far fa-calendar-alt mr-1 text-success"></i>
                                                                                Day 3</h5>
                                                                            <div class="form-group pb-2">
                                                                                <label for="editDates3" class="sr-only">Day
                                                                                    3</label>
                                                                                <input type="date" class="form-control"
                                                                                       name="editDates3"
                                                                                       id="editDates3"
                                                                                       value="{{ date('Y-m-d', strtotime(@info['date3'])) }}">
                                                                            </div>
                                                                        </check>

                                                                        <h5>
                                                                            <i class="fas fa-map-marker mr-1 text-success"></i>
                                                                            Location
                                                                        </h5>
                                                                        <div class="form-group pb-2">
                                                                            <label for="editLocation" class="sr-only">Location</label>
                                                                            <check if="{{ @info['location'] }}">

                                                                            </check>
                                                                            <select id="editLocation"
                                                                                    name="editLocation">
                                                                                <option value="none">--Select
                                                                                    location--
                                                                                </option>

                                                                                <repeat group="{{ @locations }}"
                                                                                        value="{{ @locationOption }}" >
                                                                                    <option> {{ @locationOption }}
                                                                                        <i class="fas fa-times-circle mx-1 text-danger"></i>
                                                                                    </option>
                                                                                </repeat>

                                                                            </select>
                                                                            <!--<a href="#" class="text-decoration-none text-success"
                                                                               data-toggle="modal"
                                                                               data-target="#editLocationModal{{ @info['info_id'] }}">
                                                                                <i class="fas fa-plus-circle text-success"></i>
                                                                            </a>
                                                                            <a href="#" class="text-decoration-none text-success"
                                                                               data-toggle="modal"
                                                                               data-target="#deleteALocationModal{{ @info['info_id'] }}">
                                                                                <i class="fas fa-minus-circle text-danger"></i>
                                                                            </a>-->

                                                                            <!-- add a location modal
                                                                            <div class="modal fade" id="editLocationModal{{ @info['info_id'] }}" tabindex="-1" role="dialog"
                                                                                 aria-labelledby="editLocationModal{{ @info['info_id'] }}" aria-hidden="true">
                                                                                <div class="modal-dialog" role="document">
                                                                                    <div class="modal-content">

                                                                                        <div class="modal-header bg-success">
                                                                                            <h4 class="modal-title text-white" id="modalLabel11">
                                                                                                <i class="fas fa-map-marker"></i>
                                                                                                Edit Training Locations
                                                                                            </h4>
                                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                                <span aria-hidden="true">&times;</span>
                                                                                            </button>
                                                                                        </div>

                                                                                        <form action="trainings" method="post">
                                                                                            <div class="modal-body">
                                                                                                <div class="col-12">
                                                                                                    <i class="fas fa-pen-alt text-success"></i>
                                                                                                    Add A New Training Location
                                                                                                    <div class="form-row mb-2">
                                                                                                        <div class="form-group col-md-10">
                                                                                                            <label class="sr-only" for="addTrainingLocation1">Add A New Training Location</label>
                                                                                                            <input type="text"
                                                                                                                   class="form-control" id="addTrainingLocation1" rows="1"
                                                                                                                   name="addTrainingLocation1"  value="{{ @training['location'] }}">
                                                                                                            &lt;!&ndash;&lt;!&ndash; name error messages &ndash;&gt;
                                                                                                            <div class="row justify-content-center text-danger">
                                                                                                                <check if="{{ @info['location'] }}">
                                                                                                                    <p>{{ @info['location'] }}</p>
                                                                                                                </check>
                                                                                                            </div>&ndash;&gt;
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <input type="hidden" value="{{ @training['app_id'] }}" name="addLocationId">

                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                                                                    Close
                                                                                                </button>
                                                                                                <button type="submit" name="addNewlocation" class="btn btn-success">Add Location</button>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            &lt;!&ndash; edit location modal &ndash;&gt;
                                                                            <div class="modal fade" id="deleteLocationModal{{ @info['info_id'] }}" tabindex="-1" role="dialog"
                                                                                 aria-labelledby="deleteLocationModal{{ @info['info_id'] }}" aria-hidden="true">
                                                                                <div class="modal-dialog" role="document">
                                                                                    <div class="modal-content">

                                                                                        <div class="modal-header bg-success">
                                                                                            <h4 class="modal-title text-white" id="modalLabel12">
                                                                                                <i class="fas fa-map-marker"></i>
                                                                                                Edit Training Locations
                                                                                            </h4>
                                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                                <span aria-hidden="true">&times;</span>
                                                                                            </button>
                                                                                        </div>

                                                                                        <form action="trainings" method="post">
                                                                                            <div class="modal-body">
                                                                                                <div class="col-12">
                                                                                                    <i class="fas fa-pen-alt text-success"></i>
                                                                                                    Delete A Training Location
                                                                                                    <div class="form-row mb-2">

                                                                                                    </div>
                                                                                                </div>
                                                                                                <input type="hidden" value="{{ @training['app_id'] }}" name="deleteLocationId">

                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                                                                    Close
                                                                                                </button>
                                                                                                <button type="submit" name="deleteALocation" class="btn btn-success">Delete Location</button>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                            </div>-->


                                                                        </div>

                                                                        <h5>
                                                                            <i class="far fa-calendar-times mr-1 text-success"></i>Deadline
                                                                        </h5>
                                                                        <div class="form-group pb-2">
                                                                            <label for="editDeadline" class="sr-only">Deadline</label>
                                                                            <input type="date" class="form-control"
                                                                                   name="editDeadline" id="editDeadline"
                                                                                   value="{{ date('Y-m-d', strtotime(@info['deadline'])) }}">
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">
                                                                        Close
                                                                    </button>
                                                                    <button type="submit" name="edit"
                                                                            class="btn btn-primary">Edit
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- delete modal -->
                                                <div class="modal fade"
                                                     id="deleteModal{{ @info['info_id'] }}"
                                                     tabindex="-1" role="dialog"
                                                     aria-labelledby="deleteModal{{ @info['info_id'] }}"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">

                                                            <div class="modal-header bg-danger">
                                                                <h4 class="modal-title text-white"
                                                                    id="modalLabel2">
                                                                    <i class="fas fa-minus-circle"></i>
                                                                    Delete Training
                                                                </h4>

                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>

                                                            <div class="modal-body my-4">
                                                                <h4 class="text-center">Are you sure you
                                                                    want to delete
                                                                    this training?</h4>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                        class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <form action="trainings" method="post">
                                                                    <input type="hidden" name="deleteId"
                                                                           value="{{ @info['info_id'] }}">
                                                                    <button type="submit" name="delete"
                                                                            class="btn btn-danger">Delete
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </true>
                                        </check>
                                    </repeat>
                                </div>
                            </div>

                            <div class="col-auto">
                                <a href="#" class="text-decoration-none text-success"
                                   data-toggle="modal" data-target="#addModal{{ @training['app_id'] }}">
                                    <i class="fas fa-plus-circle fa-2x"></i>
                                </a>
                            </div>

                            <!-- add modal -->
                            <div class="modal fade" id="addModal{{ @training['app_id'] }}" tabindex="-1" role="dialog"
                                 aria-labelledby="addModal{{ @training['app_id'] }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <div class="modal-header bg-success">
                                            <h4 class="modal-title text-white" id="modalLabel">
                                                <i class="fas fa-plus"></i>
                                                Add Training
                                            </h4>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <form action="trainings" method="post">
                                            <div class="modal-body">
                                                <div class="col-12">
                                                    <h5><i class="far fa-calendar-alt mr-1 text-success"></i> Day 1</h5>
                                                    <div class="form-group pb-2">
                                                        <label for="dates" class="sr-only">Day 1</label>
                                                        <input type="date" class="form-control" name="dates" id="dates">
                                                    </div>

                                                    <h5><i class="far fa-calendar-alt mr-1 text-success"></i> Day 2</h5>
                                                    <div class="form-group pb-2">
                                                        <label for="dates2" class="sr-only">Day 2</label>
                                                        <input type="date" class="form-control" name="dates2"
                                                               id="dates2">
                                                    </div>

                                                    <h5><i class="far fa-calendar-alt mr-1 text-success"></i> Day 3</h5>
                                                    <div class="form-group pb-2">
                                                        <label for="dates3" class="sr-only">Day 3</label>
                                                        <input type="date" class="form-control" name="dates3"
                                                               id="dates3">
                                                    </div>

                                                    <h5><i class="fas fa-map-marker mr-1 text-success"></i> Location
                                                    </h5>
                                                    <div class="form-group pb-2">
                                                        <label for="location" class="sr-only">Location</label>
                                                        <check if="{{ @info['location'] }}">
                                                        </check>
                                                        <select id="location" name="location">
                                                            <option value="none">--Select location--</option>

                                                            <repeat group="{{ @locations }}"
                                                                    value="{{ @locationOption }}">
                                                                <option> {{ @locationOption }}</option>
                                                            </repeat>
                                                        </select>
                                                    </div>

                                                    <h5><i class="far fa-calendar-times mr-1 text-success"></i>Deadline
                                                    </h5>
                                                    <div class="form-group pb-2">
                                                        <label for="deadline" class="sr-only">Deadline</label>
                                                        <input type="date" class="form-control" name="deadline"
                                                               id="deadline">
                                                    </div>

                                                    <input type="hidden" value="{{ @training['app_id'] }}" name="addId">

                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" name="add" class="btn btn-success">Add</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- edit training location -->
                        <div class="col-auto">
                            <a href="#" class="text-decoration-none text-success"
                               data-toggle="modal" data-target="#editLocationModal{{ @training['app_id'] }}">
                                <i class="fas fa-map-marker fa-2x"></i> Edit Training Locations
                            </a>
                        </div>

                        <!-- edit location modal -->
                        <div class="modal fade" id="editLocationModal{{ @training['app_id'] }}" tabindex="-1" role="dialog"
                             aria-labelledby="editLocationModal{{ @training['app_id'] }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <div class="modal-header bg-success">
                                        <h4 class="modal-title text-white" id="modalLabel1">
                                            <i class="fas fa-map-marker"></i>
                                            Edit Training Locations
                                        </h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <form action="trainings" method="post">
                                        <div class="modal-body">
                                            <div class="col-12">
                                                <i class="fas fa-pen-alt text-success"></i>
                                                Add A New Training Location
                                                <div class="form-row mb-2">
                                                    <div class="form-group col-md-6">
                                                        <label class="sr-only" for="addTrainingLocation">Add A New Training Location</label>
                                                        <input type="text"
                                                               class="form-control" id="addTrainingLocation" rows="1"
                                                               name="addTrainingLocation"  value="{{ @training['location'] }}">
                                                        <!--&lt;!&ndash; name error messages &ndash;&gt;
                                                        <div class="row justify-content-center text-danger">
                                                            <check if="{{ @info['location'] }}">
                                                                <p>{{ @info['location'] }}</p>
                                                            </check>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <i class="fas fa-times-circle text-danger"></i>
                                                Delete A Training Location
                                                <div class="form-row mb-2">
                                                    <div class="form-group col-md-4">
                                                        <table class="table table-hover">
                                                            <thead>
                                                            <tr>

                                                                <th>Location</th>
                                                                <th>Remove</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <repeat group="{{ @locations }}"
                                                                                value="{{ @locationOption }}">
                                                                        <option> {{ @locationOption }}</option>

                                                                        </repeat>

                                                                    </td>

                                                                    <td>
                                                                        <repeat group="{{ @locations }}" value="{{ @locationOption }}">
                                                                            <i class="fas fa-times-circle mx-2 text-danger"></i>
                                                                        <!--    <option>-->
                                                                            <!--</option>-->
                                                                        </repeat>
                                                                    </td>
                                                                </tr>


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                            <input type="hidden" value="{{ @training['app_id'] }}" name="addLocationId">

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" name="addNewlocation" class="btn btn-success">Save Changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </repeat>
        <a href="oldTrainings" class="text-decoration-none text-center"><h4 class="mt-4">View Old Trainings</h4></a>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<include href="views/portal/includes/footer.html"/>
