<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <!-- custom font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!-- jquery ui -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    <!-- custom styles -->
    <link rel="stylesheet" href="../views/forms/css/generalFormStyles.css">

    <title>{{ @page_title }}</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-dark mb-4">
    <a class="navbar-brand py-3 pl-2" href="/unami">
        <img id="namiLogo" src="../images/namiLogo.png" alt="The logo for NAMI Washington">
    </a>
</nav>
<div class="container p-3">
    <!--TODO: is this needed because behind affiliate log in?-->
    <h2>This final section must be completed by affiliate leadership (i.e.: Program Director, Executive Director,
        President or Vice President).</h2>
    <form action="review_includes" method="post">
        <div class="form-check">
            <input class="form-check-input" required type="checkbox" value="" id="check1">
            <label class="form-check-label" for="check1">
                I have had a conversation with the applicant about their commitment and responsibilities to our
                affiliate.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" required type="checkbox" value="" id="check2">
            <label class="form-check-label" for="check2">
                This person is a current member of our affiliate.<br>
                <b>Membership Expiration Date :</b>
                <input type="date" id="membershipExpiration" name="membershipExpiration" min="{{date('Y-m-d')}}"
                       value="{{date('Y-m-d')}}" required>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" required type="checkbox" value="" id="check3">
            <label class="form-check-label" for="check3">
                This person meets the requirements to attend this training per the NAMI Washington Training & Education
                Program Guidelines for 2019, and has the qualities to be a successful teacher/presenter/facilitator.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" required type="checkbox" value="" id="check4">
            <label class="form-check-label" for="check4">
                Our affiliate will work with this person to initiate or continue this program during the next year.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" required type="checkbox" value="" id="check5">
            <label class="form-check-label" for="check5">
                I have arranged transportation to the training for this applicant.
            </label>
        </div>
        <!--TODO: regex for check # input pattern-->
        <div class="form-check">
            <input class="form-check-input" required type="checkbox" value="" id="check6">
            <label class="form-check-label" for="check6">
                A separate deposit of $50.00, payable to NAMI Washington, for each applicant is enclosed. I understand
                that the deposit will be returned to our affiliate if this individual successfully completes the entire
                training. <b>Check # </b><input type="number" id="checkNumber" name="checkNumber" required>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" required type="checkbox" value="" id="check7">
            <label class="form-check-label" for="check7">
                I understand that this training is on a first come, first serve basis after the completed application
                and deposit has been received in the NAMI WA office. Where necessary, priority may be given to
                geographical areas with critical need, and this will be a decision made by NAMI WA.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" required type="checkbox" value="" id="check8">
            <label class="form-check-label" for="check8">
                This affiliate has submitted all 2019 Education Data to the NAMI Data Collection Site. I understand that
                no members from our affiliate will be able to participate in a State Training if our Education Data is
                not uploaded.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" required type="checkbox" value="" id="check9">
            <label class="form-check-label" for="check9">
                This affiliate is up to date with submission of all 2019 Education Data to the NAMI Data Collection
                Site.
            </label>
        </div>
        <!--TODO: ask what this section is for-->
        <div class="form-check form-check-inline">
            <input class="form-check-input" required type="checkbox" value="" id="check10">
            <label class="form-check-label" for="check10">
                Affiliate A
            </label>
            <input class="form-check-input" required type="checkbox" value="" id="check11">
            <label class="form-check-label" for="check11">
                Affiliate B
            </label>
        </div>
        <div class="form-group">
            <div class="form-row">
                <!--TODO: ask if one or two input boxes for name and title-->
                <label for="leaderName">Name and Title of NAMI Affiliate Leader: <input type="text" id="leaderName"
                                                                                        name="leaderName"
                                                                                        class="form-control"
                                                                                        required></label>
                <label for="affiliateName">Name of NAMI Affiliate: <input type="text" id="affiliateName"
                                                                          name="affiliateName" class="form-control"
                                                                          required></label>
            </div>
            <!--TODO: replace with e-signature?-->
            <div class="form-row">
                <label for="signature">Signature: <input type="text" id="signature" name="signature"
                                                         class="form-control" placeholder="Type your full name here"
                                                         required></label>
                <label for="date">Date: <input type="text" class="form-control" id="date" disabled></label>
            </div>
            <div class="form-row">
                <label for="affiliateEmail">Email of Affiliate Leader: <input type="text" id="affiliateEmail"
                                                                              name="affiliateEmail" class="form-control"
                                                                              required></label>
                <label for="phoneNumber">Phone Number: <input type="text" id="phoneNumber" name="phoneNumber"
                                                              class="form-control"
                                                              required></label>
            </div>
        </div>
    </form>
    <div>
        <!--TODO: make check return date dynamic-->
        <!--TODO: ask if need wording changes due to online format-->
        <p>Keep a copy for your records and send this completed and signed application with your $50 deposit. If your
            affiliate is sending more than one attendee, please send a separate $50 check with each application. We will
            return all checks within 3 weeks of completion of the training, unless the applicant fails to attend the
            training without notification of cancellation by March 27, 2020.</p>
    </div>
</div>
</body>
<footer style="background-color: #0c499c" class="mt-5">
    <div class="container-fluid text-center p-3 pt-5">
        <div class="text-white">
            <p>1107 NE 45th Street, Suite 340 | Seattle, WA 98105</p>
            <p>(206) 783-4288 | office@namiwa.org</p>
            <p class="mt-2">© 2019 NAMI Washington</p>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="../../views/forms/js/tooltip.js"></script>
</body>
</html>
